{% extends 'base.html' %}

{% block content %}
 <div class="row">
    <div class="col-8">
      {% with messages = get_flashed_messages()  %}
        {% if messages %}
          <div class="alert alert-warning" role="alert">
            {% for message in messages %}
              {{ message }}
            {% endfor %}

          </div>
        {% endif %}
      {% endwith %}

      <h1>News</h1>

      {% if news %}
        <ul>
          {% for item in news %}
            <li>
              <h3><a href="{{ item.url }}">{{ item.title }}</a></h3>
              <h4>{{ item.published.strftime('%d.%m.%Y') }}</h4>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>Сервис новостей не доступен</p>
      {% endif %}

    </div>
    <div class="col-4">
      <h1>Weather</h1>
      {% if weather %}
    <ul>
      <li>Temperature: {{ weather.temp_C }}</li>
      <li>Humidity: {{ weather.humidity }}</li>
    </ul>
  {% else %}
    <p>Сервис погоды не доступен</p>
  {% endif %}
    </div>
  </div>
{% endblock %}
